
.loader{
    background-color: #5fa8d3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
h1{
    font-size: 75px
}

.loading-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 7rem;
    color: #333;
  }
  
  .loading-dots span {
    animation: loading-dots 1.5s infinite;
    opacity: 0;
    animation-delay: calc(var(--i) * 0.2s);
  }
  
  .loading-dots span:nth-child(1) {
    --i: 1;
  }
  
  .loading-dots span:nth-child(2) {
    --i: 2;
  }
  
  .loading-dots span:nth-child(3) {
    --i: 3;
  }
  
  @keyframes loading-dots {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
      transform: translateY(-1em);
    }
    80% {
      opacity: 1;
      transform: translateY(-1em);
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }