.pc-build-list{
    list-style-type: none;
    font-size: 22px;
}

.delete-btn{
    background-color: #ff4d6d;
    color: #fff0f3;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}